<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>

</head>

<body>
  <header>
    <%- include('../partials/nav', { email: user.email }) %>
  </header>

  <div class="container">
    <div class="columns">
      <div class="column is-3 " style="text-align: right;">
            Placeholder for upcoming features!
      </div>
    </div>
  </div>

</body>

<%- include('../partials/footer') %>

</html>