<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <style>
      .notification {
        background-color: #dee3ff;
      }

      .content,
      .media,
      .media-content,
      .media-left,
      .title,
      .subtitle,
      .image {
        background-color: transparent;
      }
    </style>
</head>

<body>
  <div class="container">

    <header>
      <%- include('../partials/nav', { signedIn: true }) %>
    </header>

    <section class="section is-small">

      <div class="columns">
        <div class="column is-2" style="text-align: right;"></div>

        <div class="column is-8">
          <div class="box notification" id="notification">
            <button class="delete" onclick="remove()"></button>
            Check out the new notes for you!
          </div>

          <div class="feed-stream">
            <%- include('../partials/feed-stream', { feed: feed }) %>
          </div>
        </div>
      </div>
    </section>
  </div>
  <%- include('../partials/footer') %>
</body>
<script>
  function remove() {
    const notif = document.getElementById("notification");
    notif.remove();
  }
</script>

</html>