<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>

</head>

<body>
  <header>
    <%- include('../partials/nav', { email: user.email }) %>
  </header>

  <div class="box">
    <div class="columns is-centered">
      <div class="column is-3 ">
            Check out the new notes for you!
      </div>
    </div>
  </div>

  <div class="container">
    <div class="columns">
      <div class="column is-3 " style="text-align: right;">
        
      </div>
      <div class="column is-5">
        <div class="feed-stream">
          <%- include('../partials/feed-stream', { feed: feed }) %>
        </div>
      </div>
    </div>
  </div>


</body>

<%- include('../partials/footer') %>

</html>
