<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <style>
      .columns,
      .column,
      .box {
        background-color: rgb(255, 254, 254);
      }
    </style>
</head>

<body>
  <div class="container">
    <header>
      <%- include('../partials/nav', { email: user.email, userInfo}) %>
    </header>

    <section class="section is-small">

      <div class="boxes">

        <div class="box">
          <div class="columns">
            <div class="column is-3 ">
              There is a new note for you!
            </div>
          </div>
        </div>

        <div class="box">
          <div class="columns">
            <div class="column is-3 ">
              From the other
            </div>
          </div>
        </div>

        <div class="box">
          <div class="columns">
            <div class="column is-3 ">
              From you
            </div>
          </div>
        </div>

        <div class="box">
          <div class="columns">
            <div class="column is-3 ">
              Placeholder for upcoming features!
            </div>
          </div>
        </div>

        <div class="box">
          <div class="columns">
            <div class="column is-3 ">
              Placeholder for upcoming features!
            </div>
          </div>
        </div>

        <div class="box">
          <div class="columns">
            <div class="column is-3 ">
              Placeholder for upcoming features!
            </div>
          </div>
        </div>

        <div class="box">
          <div class="columns">
            <div class="column is-3 ">
              Placeholder for upcoming features!
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>

<%- include('../partials/footer') %>

</html>