<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
    <!-- Include any custom css classes that you want available on this page here -->
    <style>
      .buttons {
        display: block;
      }

      .button {
        width: 15em;
      }

      #sign-in-button {
        background-color: #EB8172;
      }

      #sign-up-button {
        background-color: #F6D7CF;
      }

      .tagline {
        width: 70%;
        font-weight: normal;
        font-size: 60px;
        letter-spacing: -2px;
        line-height: 60px;
      }
    </style>
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

  <section class="hero is-medium">
    <div class="hero-body">
      <div class="container">

        <section class="section">
          <div class="tagline">
            <p>
              The Notebook is the space for you and your loved ones.
            </p>
          </div>
        </section>

        <section class="section">
          <div class="buttons are-medium">
            <div>
              <a href="/sign-in" button class="button" id="sign-in-button">
                SIGN IN
              </a>
              <a href="/sign-up" button class="button" id="sign-up-button">
                SIGN UP
              </a>
            </div>
          </div>
        </section>

      </div>
    </div>
  </section>


</body>

<%- include('../partials/footer') %>

</html>