<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
  <!-- Include any custom css classes that you want available on this page here -->
  <style>

  </style>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body>
  <header>
    <%- include('../partials/nav') %>
  </header>

  <section class="hero  is-large  is-bold is-primary">
    <div class="hero-body ">
      <div class="container">
        <h1 class="title is-2">Welcome to Dog Site</h1>
        <p class="subtitle is-3">This is an example landing page for dogzland</p>
        <p class="subtitle is-4">by Renzhi Hu</p>
      </div>
    </div>
  </section>


</body>

<%- include('../partials/footer') %>

</html>