<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
  <style>

  </style>
</head>

<body>
  <header>
    <%- include('../partials/nav', { hideSignIn: true }) %>
  </header>

  <aside class="menu">
    <div>
      <a href="/" button class="button is-text">
        BACK
      </a>
    </div>
  </aside>


  <section class="section is-medium">
    <div class="container">
      <div class="columns is-centered">

      <form class="block" id = "login-form">
        <div class="title">
          <h1 class="title">Sign in to The Notebook</h1>
          <h2 class="subtitle">
            Connect with your other half :)
          </h2>
        </div>
        
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" type="text" name="login">
          </div>
        </div>
      
        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input class="input" type="password" name="password" id="password">
          </div>
        </div>
      
        <button class="button">Sign In</button>
      </form>
    </div>
      </div>
    <div id="login-error">

  </section>


</body>

<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>
  window.onload = () => {
    const firebaseConfig = {
      apiKey: "AIzaSyD9FQlKShLGh2fDGjpKJ8wOunZxl-oxois",
      authDomain: "dogland-9610d.firebaseapp.com",
      projectId: "dogland-9610d",
      storageBucket: "dogland-9610d.appspot.com",
      messagingSenderId: "717216947586",
      appId: "1:717216947586:web:c4db041d463282b010439b",
      measurementId: "G-DEV82FJLZ3"
    };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("login-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        const login = event.target.login.value;
        const password = event.target.password.value;

        // CS5356 TODO #3
        // Sign in using the Firebase SDK for Web
        // Get the users ID token
        // Start a new session with the users ID token
        // Redirect the user to the /dashboard

        app.auth().signInWithEmailAndPassword(login, password)
          .then((userCredential) => {
            // Signed in 
            const user = userCredential.user;
            user.getIdToken().then((idToken) => {
              fetch('/sessionLogin', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({
                    idToken
                  })
                })
                .then((responseBody) => {
                  window.location.assign('/dashboard')
                })
                .catch((err) => {
                  debugger
                })
            })
          })
          .catch((error) => {
            const errorCode = error.code;
            const errorMessage = error.message;
          });
      });
  };
</script>

</html>