<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <div class="container">

    <header>
      <%- include('../partials/nav') %>
    </header>

    <aside class="menu">
      <div>
        <a href="/" class="button is-text" id="back-button">
          BACK
        </a>
      </div>
    </aside>

    <div class="sign-div">

      <section class="section is-small">
        <div class="columns is-centered">
          <form class="block" id="login-form">
            <div class="title">
              <h1 class="title">New to The Notebook?</h1>
              <h2 class="subtitle">
                Sign up to join!
              </h2>
            </div>

            <div class="field">
              <label class="label">Username</label>
              <div class="control">
                <input class="input" id="username" type="text" name="username" required="required" placeholder="Alex G">
              </div>
            </div>

            <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input class="input" id="login" type="text" name="login" required="required"
                  placeholder="e.g. alex@gmail.com">
              </div>
            </div>

            <div class="field">
              <label class="label">Password</label>
              <div class="control">
                <input class="input" type="password" name="password" required="required" placeholder="********">
              </div>
            </div>
            <div class="field form-button-div">
              <button class="button">JOIN</button>
            </div>

            <div class="field">
              Or <a href="/sign-in">click here to sign in with an existing account</a>
            </div>

          </form>
        </div>
        <div id="login-error" style="display: none;">
      </section>
    </div>

    <%- include('../partials/footer') %>
  </div>
</body>

<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>
  window.onload = () => {
    console.log('Running onload')
    const firebaseConfig = {
      apiKey: "AIzaSyD9FQlKShLGh2fDGjpKJ8wOunZxl-oxois",
      authDomain: "dogland-9610d.firebaseapp.com",
      projectId: "dogland-9610d",
      storageBucket: "dogland-9610d.appspot.com",
      messagingSenderId: "717216947586",
      appId: "1:717216947586:web:c4db041d463282b010439b",
      measurementId: "G-DEV82FJLZ3"
    };
    const app = firebase.initializeApp(firebaseConfig);
    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);
    document
      .getElementById("login-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        const username = event.target.username.value;
        const login = event.target.login.value;
        const password = event.target.password.value;
        // CS5356 TODO #3
        // Create a new user using the Firebase SDK for Web
        // Get the users ID token
        // Start a new session with the users ID token
        // Redirect the user to the /dashboard
        app.auth().createUserWithEmailAndPassword(login, password)
          .then((userCredential) => {
            // Signed in 
            const user = userCredential.user;
            user.getIdToken().then((idToken) => {
              fetch('/sessionLogin', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({ idToken, username, signInType: 'register' })
              })
                .then((responseBody) => {
                  window.location.assign('/dashboard')
                })
                .catch((err) => {
                  debugger
                })
            })
          })
          .catch((error) => {
            const errorCode = error.code;
            const errorMessage = error.message;
          });
      });
  };
</script>

</html>