<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head', {pageTitle: 'Write a Note' }) %>
</head>

<body>
  <div class="container">
    <header>
      <%- include('../partials/nav', { signedIn: true }) %>
    </header>

    <aside class="menu">
      <div>
        <a href="/dashboard" class="button is-text" id="back-button">
          << </a>
      </div>
    </aside>

    <section class="section is-medium">
      <div class="columns">
        <div class="column is-3" style="text-align: right;">
          <aside class="menu">
          </aside>
        </div>
        <div class="column is-6">
          <div class="mb-6">
            <div class="has-text-weight-bold mb-4">
              Write a note 💬
            </div>
            <form action="/write-notes" method="post">
              <input class="input" type="text" name="message" placeholder="Today I am feeling ... "
                style="height:150px" />
              <div class="field form-button-div">
                <button class="button mt-2">POST</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <%- include('../partials/footer') %>
  </div>
</body>

</html>