<% feed.forEach(function(feedItem) { %>
  <article style="margin-bottom: 3em;">
    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <% if(feedItem.wishornote) { %>
                <img class="is-rounded" src="https://github.com/xxtliu/The-Notebook/blob/main/makewish.png?raw=true" />
                <% } else { %>
                  <img class="is-rounded"
                    src="https://github.com/xxtliu/The-Notebook/blob/main/diary-icon.png?raw=true" />
                  <% }%>
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">
              <%= feedItem.name %>
            </p>
            <p class="subtitle is-6">
              Posted from <i>
                <%= feedItem.location %>
              </i> at <%= feedItem.postAt %>
            </p>
          </div>
        </div>

        <div class="content">
          <%= feedItem.message %>
        </div>
      </div>
    </div>

  </article>

  <% }) %>