<head>
  <meta charset="UTF-8">
  <title>THE NOTEBOOK</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Work+Sans:wght@300;400&display=swap"
    rel="stylesheet">

  <!-- CS5356: Any global css styles can be defined here -->
  <style>
    * {
      background-color: #FAF4ED;
      font-family: 'Work Sans', sans-serif;
    }
    .button {
      border: 1px solid rgb(0, 0, 0);
      border-radius: 10px;
    }
    .navbar {
      padding: 1rem;
      border-bottom: 1px solid rgb(0, 0, 0);
      background-color: #FAF4ED;
    }
    #navbar-logo {
      font-family: 'EB Garamond', serif;
      font-style: italic;
      font-size: 24px;
    }
    .sign-div {
      padding: 3rem;
    }
    #back-button {
      padding: 2rem;
    }
    .footer {
      background-color: #FAF4ED;
      padding: 1.5rem;
    }
    #footer-text {
      font-size: 12px;
    }
  </style>
</head>