<head>
  <meta charset="UTF-8">
  <title>the notebook | <%= pageTitle %>
  </title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Work+Sans:wght@300;400&display=swap"
    rel="stylesheet">

  <!-- CS5356: Any global css styles can be defined here -->
  <style>
    * {
      background-color: #FAF4ED;
      font-family: 'Work Sans', sans-serif;
    }

    .button {
      border: 1px solid rgb(0, 0, 0);
      border-radius: 10px;
    }

    .navbar {
      padding: 1rem;
      border-bottom: 1px solid rgb(0, 0, 0);
      background-color: #FAF4ED;
    }

    #navbar-logo {
      font-family: 'EB Garamond', serif;
      font-style: italic;
      font-size: 24px;
    }

    .navbar-end>.navbar-item {
      margin-left: 0.5rem;
      font-size: small;
    }

    .sign-div {
      padding: 3rem;
    }

    .form-button-div {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    #back-button {
      margin-top: 2rem;
    }

    .footer {
      background-color: #FAF4ED;
      padding: 1.5rem;
    }

    #footer-text {
      font-size: 12px;
    }

    .feed-stream {
      padding-top: 1.5rem;
    }
  </style>

  <script src=“https://www.gstatic.com/firebasejs/9.6.4/firebase-performance-compat.js”>
    const perf = firebase.performance();
    ! function (n, e) {
      var t, o, i, c = [],
        f = {
          passive: !0,
          capture: !0
        },
        r = new Date,
        a = "pointerup",
        u = "pointercancel";

      function p(n, c) {
        t || (t = c, o = n, i = new Date, w(e), s())
      }

      function s() {
        o >= 0 && o < i - r && (c.forEach(function (n) {
          n(o, t)
        }), c = [])
      }

      function l(t) {
        if (t.cancelable) {
          var o = (t.timeStamp > 1e12 ? new Date : performance.now()) - t.timeStamp;
          "pointerdown" == t.type ? function (t, o) {
            function i() {
              p(t, o), r()
            }

            function c() {
              r()
            }

            function r() {
              e(a, i, f), e(u, c, f)
            }
            n(a, i, f), n(u, c, f)
          }(o, t) : p(o, t)
        }
      }

      function w(n) {
        ["click", "mousedown", "keydown", "touchstart", "pointerdown"].forEach(function (e) {
          n(e, l, f)
        })
      }
      w(n), self.perfMetrics = self.perfMetrics || {}, self.perfMetrics.onFirstInputDelay = function (n) {
        c.push(n), s()
      }
    }(addEventListener, removeEventListener);

    const trace = perf.trace('first_input_delay');
    perfMetrics.onFirstInputDelay(function (delay, evt) {
      trace.putAttribute('firstInputDelay', delay.toString());
    });
  </script>

</head>