<nav class="level navbar" style="height: 85px;">

  <% if(signedIn) { %>

    <div class="navbar-brand">
      <div class="navbar-item ">
        <a herf="/dashboard" id="navbar-logo">the notebook</a>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        Welcome, <%= userInfo.username %> 🥳
      </div>
      <a href="/write-note" class="navbar-item">WRITE A NOTE ✍️</a>
      <a href="/make-a-wish" class="navbar-item">MAKE A WISH 🔮</a>
      <a href="/settings" class="navbar-item">SETTINGS ⚙️</a>
      <a href="/sessionLogout" class="navbar-item">LOG OUT</a>
    </div>

    <% } else { %>
      <p class="level-item has-text-centered">
        <a herf="/" class="level-center" id="navbar-logo">the notebook</a>
      </p>
      <% }%>
</nav>