<nav class="level navbar">

  <% if(locals.email) { %>

    <div class="navbar-brand">
      <div class="navbar-item ">
        <a herf="/dashboard" id="navbar-logo">the notebook</a>
      </div>
    </div>

    <div class="navbar-end">
      <a href="/settings" class="navbar-item">
        <%= userInfo.username %> Account Settings ⚙️
      </a>
      <a href="/write-note" class="navbar-item">WRITE A NOTE ✍️</a>
      <a href="/make-a-wish" class="navbar-item">MAKE A WISH 🔮</a>
      <a href="/sessionLogout" class="navbar-item">LOG OUT</a>
    </div>

    <% } else if(locals.hideSignIn) { %>
      <p class="level-item has-text-centered">
        <a herf="/" class="level-center" id="navbar-logo">the notebook</a>
      </p>

      <% } else { %>
        <p class="level-item has-text-centered">
          <a herf="/" class="level-center" id="navbar-logo">the notebook</a>
        </p>
        <% }%>
</nav>
