<nav class="level navbar">

  <% if(locals.email) { %>

    <div class="navbar-brand">
      <div class="navbar-item ">
        <a herf="/dashboard" id="navbar-logo">the notebook</a>
      </div>
    </div>

    <div class="navbar-end">
      <a href="/dashboard" class="navbar-item">
        Hi, <%= userInfo.username %>
      </a>
      <a href="/" class="navbar-item">Log out</a>
    </div>

    <% } else if(locals.hideSignIn) { %>
      <p class="level-item has-text-centered">
        <a herf="/" class="level-center" id="navbar-logo">the notebook</a>
      </p>

      <% } else { %>
        <p class="level-item has-text-centered">
          <a herf="/" class="level-center" id="navbar-logo">the notebook</a>
        </p>
        <% }%>
</nav>